#about {
  height: auto;
}

.about-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100rem;
  border: 1px solid rgba(0, 188, 212, 0.5);
}

.about-text {
  display: flex;
  flex-direction: column;
  transition: all 300ms;
}

.about-link{
  position: relative;
  color: #56ECFF;
  transition: all 300ms ease;
  z-index: 1;
  overflow: hidden;
}

.about-link:hover {
  font-style: italic;
  overflow: hidden;
  color: aquamarine;
}

.about-link::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  color: pink;
  z-index: 0;
  border-radius: 100px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms, background-color 1s;
}

.about-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  overflow: hidden;
}

/****** tablet ******/

@media (min-width: 744px){

  .about-circle {
    height: 5rem;
    width: 5rem;
    border: 1.5px solid rgba(0, 188, 212, 0.5);
  }
}

@media (min-width: 1024px) {
  .about-text{
    flex-direction: row;
  }

}

/****** desktop ******/

@media (min-width: 1200px){

  .about-circle {
    height: 6rem;
    width: 6rem;
    border: 2px solid rgba(0, 188, 212, 0.5);;
  }
}
