#about {
  height: auto;
}

.about-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100rem;
  border: 1px solid rgba(0, 188, 212, 0.5);
}

.about-text{
  display: flex;
  flex-direction: column;
}

/****** tablet ******/

@media (min-width: 744px){

  .about-circle {
    height: 5rem;
    width: 5rem;
    border: 1.5px solid rgba(0, 188, 212, 0.5);
  }
}

@media (min-width: 1024px) {
  .about-text{
    flex-direction: row;
  }
}

/****** desktop ******/

@media (min-width: 1200px){

  .about-circle {
    height: 6rem;
    width: 6rem;
    border: 2px solid rgba(0, 188, 212, 0.5);;
  }
}
