
/**** view projects link *****/

.view-projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  width: fit-content;
  padding-top: 1.5rem;
  z-index: 0;
}

.view-projects a {
  color: black;
}

.view-projects p {
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0;
}

.back-to-top {
  padding: 0;
}

.view-projects:hover{
  cursor: pointer;
}

.view-projects p {
  margin-right: 3.5rem;
  transition: all 300ms;
  display: none;
}

.view-projects:hover p {
  color: #00BCD4;
  font-style: italic;
}

.view-projects .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: rotate 500ms;
  margin-left: -1rem;

}

.view-projects .outer-circle {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 500px;
  border: 2.5px solid #00BCD4;
}

.view-projects:hover .outer-circle {
  border: none;
}

.view-projects .inner-circle {
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: rgba(0, 188, 212, 0);
  border-radius: 500px;
  transition: width 300ms, height 300ms;
}

.view-projects:hover .inner-circle {
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(0, 188, 212, 0.5);
  border-radius: 500px;
}

.view-projects:hover path {
  fill: black;
}

.arrow {
  height: 1.5rem;
  transform: rotate(90deg);
  z-index: 2;
}

/****** tablet ******/

@media (min-width: 744px){

  .view-projects {
    padding-left: 0;
  }
  
  .view-projects p {
    display: flex;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .view-projects .outer-circle {
    height: 4.5rem;
    width: 4.5rem;
    border: 4px solid #00BCD4;
  }

  .view-projects:hover .inner-circle {
    height: 4.5rem;
    width: 4.5rem;
  }

  .view-projects:hover .icon {
    rotate: 90deg;
  }

  .arrow {
    height: 2.25rem;
    transform: rotate(0);
  }
}

/****** desktop ******/ 

@media (min-width: 1500px){

  .view-projects .icon {
    margin-left: 0.5rem;

  }

  .view-projects p {
    font-size: 1.5rem;
  }

  .arrow {
    height: 3rem;
  }

  .view-projects .outer-circle {
    position: absolute;
    height: 6rem;
    width: 6rem;
    border: 5px solid #00BCD4;
  }

  .view-projects:hover .inner-circle {
    height: 6rem;
    width: 6rem;
  }

}



/**** view all and go back button *****/

.tablet {
  display: none;
}

.view-all, .go-back {
  border: none;
  background: none;
  margin: 1.5rem auto;
  display: none;
}

.view-all p, .go-back p {
  color: #BBBBBB;
  display: flex;
  margin-right: 1.5rem;
}

.view-all:hover p, .go-back:hover p {
  color: white;
}

.view-all path, .go-back path {
  fill: #BBBBBB;
}

.view-all .icon .outer-circle, .go-back .icon .outer-circle {
  border: 2.5px solid #BBBBBB;
}

.view-all:hover .icon .inner-circle, .go-back:hover .icon .inner-circle {
  background-color: white;
  mix-blend-mode: lighten;
}

/****** tablet ******/

@media (min-width: 744px){

  .mobile {
    display: none;
  }

  .tablet {
    display: flex;
  }

  .view-all {
    align-items: center;
  }

  .view-all .icon .outer-circle, .go-back .icon .outer-circle {
    border: 5px solid #BBBBBB;
  }

  .view-all p, .go-back p {
    margin-right: 3.5rem;
  }
}

/****** desktop ******/

@media (min-width: 1200px) {


  .view-all {
    align-items: flex-end;
  }
}

/***** go-back button *****/

.go-back {
  padding-top: 0;
}

.go-back p {
  display: none;
}

.arrow-back {
  height: 1.5rem;
  z-index: 2;
}

.go-back .icon .arrow-back{
  rotate: 90deg;
}



/****** tablet ******/

@media (min-width: 744px){

  .go-back a{
    padding: 0;
  }

  .go-back p {
    display: flex;
  }

  .arrow-back {
    height: 3.25rem;
  }

  .go-back .icon .arrow-back{
    rotate: 180deg;
  }
  
  .go-back:hover .icon {
    rotate: -90deg;
  }
}