
/**** view projects link *****/

.view-projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  width: fit-content;
  padding-top: 1.5rem;
  z-index: 0;
}

.view-projects a {
  color: black;
}

.view-projects p {
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0;
}

.view-projects:hover{
  cursor: pointer;
}

.view-projects p {
  margin-right: 3.5rem;
  transition: all 300ms;
  display: none;
}

.view-projects:hover p {
  color: #00BCD4;
  font-style: italic;
}

.view-projects .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: rotate 500ms;
  margin-left: -0.5rem;
}

.view-projects .outer-circle {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 500px;
  border: 2.5px solid #00BCD4;
}

.view-projects:hover .outer-circle {
  border: none;
}

.view-projects .inner-circle {
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: rgba(0, 188, 212, 0);
  border-radius: 500px;
  transition: width 300ms, height 300ms;
}

.view-projects:hover .inner-circle {
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(0, 188, 212, 0.5);
  border-radius: 500px;
}

.view-projects:hover path {
  fill: black;
}

.arrow {
  height: 1.5rem;
  transform: rotate(90deg);
  z-index: 2;
}

/****** tablet ******/

@media (min-width: 744px){

  .view-projects {
    padding-left: 0;
  }
  
  .view-projects p {
    display: flex;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .view-projects .icon {
    margin-left: -1.5rem;
  }
  

  .view-projects .outer-circle {
    height: 4.5rem;
    width: 4.5rem;
    border: 4px solid #00BCD4;
  }

  .view-projects:hover .inner-circle {
    height: 4.5rem;
    width: 4.5rem;
  }

  .view-projects:hover .icon {
    rotate: 90deg;
  }

  .arrow {
    height: 2.25rem;
    transform: rotate(0);
  }
}

/****** desktop ******/ 

@media (min-width: 1500px){

  .view-projects .icon {
    margin-left: 0;

  }

  .view-projects p {
    font-size: 1.5rem;
  }

  .arrow {
    height: 3rem;
  }

  .view-projects .outer-circle {
    position: absolute;
    height: 6rem;
    width: 6rem;
    border: 5px solid #00BCD4;
  }

  .view-projects:hover .inner-circle {
    height: 6rem;
    width: 6rem;
  }

}

/****** back to top button *****/

.scrollTop {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
  z-index: 20;
}

.scrollTop.active {
  visibility: visible;
  opacity: 1;
}

.top {
  rotate: -90deg;
  width: 1.5rem;
  height: 1.5rem;
}

.top-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #00DEEC;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 10rem;
  transition: background-color 300ms;
  overflow: hidden;
}

/****** desktop ******/ 
@media (min-width: 1200px){

  .top-icon {
    background-color: rgba(255, 255, 255, 0.075);
  }

  .top-icon path {
    fill: white;
  }

  .top-icon::before {
    content: " ";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    z-index: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms, background-color 300ms;
  }
  
  
  .top-icon:hover::before {
    content: " ";
    position: absolute;
    transform-origin: bottom;
    transform: scaleX(1);
    background-color: white;
  }
  
  .top-icon:hover path {
    fill: black;
  }
  
  .top-icon:hover svg {
    transform: scale(1.25);
  }
}





