
#contact .content {
  border-bottom: none;
}

.contact-half {
  height: 2.5rem;
  width: 1.25rem;
  background-color: rgba(240, 55, 165, 0.5);
  border-radius: 0 100rem 100rem 0;
}

.contact-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/****** tablet ******/

@media (min-width: 744px){

  .contact-half {
    height: 5rem;
    width: 2.5rem;
  }

  .contact-circle {
    height: 5rem;
    width: 5rem;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
  }
}

.copyright {
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  text-align: center;
}

/****** desktop ******/

@media (min-width: 1200px){
  
  .contact-half {
    height: 6rem;
    width: 3rem;
  }

  .contact-circle {
    height: 6rem;
    width: 6rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }

}
