
#contact .content {
  border-bottom: none;
}

.contact-half {
  height: 2.5rem;
  width: 1.25rem;
  background-color: rgba(240, 55, 165, 0.5);
  border-radius: 0 100rem 100rem 0;
}

.contact-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/****** tablet ******/

@media (min-width: 744px){

  .contact-half {
    height: 5rem;
    width: 2.5rem;
  }

  .contact-circle {
    height: 5rem;
    width: 5rem;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
  }
}

/****** desktop ******/

@media (min-width: 1200px){
  
  .contact-half {
    height: 6rem;
    width: 3rem;
  }

  .contact-circle {
    height: 6rem;
    width: 6rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }

}

#contact{
  height: auto;
  background: #222222;
  animation: slide 500ms;
}

#contact .container{
  height: 100%;
  padding-bottom: 1.5rem;
  border-bottom: none;
}

.contact-title{
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.contact-cross{
  margin-left: 20px;
  height: 2rem;
  width: 2rem;
  fill: none;
  stroke: #F037A5;
  stroke-width: 1.5px;
  transform: rotate(45deg);
}

.contact-text{
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.contact-item{
  margin-bottom: 10%;
}

.follow-section{
  display: inline;
}

/*************
media queries
*************/

@media (min-width: 760px){
  #contact{
      height: 100vh;
      position: relative;
      background: #222222;
      margin-bottom: 50vh;
      padding-top: 5%;
  }

  .contact-cross{
      height: 3.75rem;
      width: 3.75rem;
      margin-left: 35px;
  }

  .contact-text a{
      font-size: 1.5rem;
  }
}

@media (min-width: 800px){

  #contact{
      height: auto;
      margin-bottom: 0;
  }
}


@media (min-width: 1024px){

  #contact{
      height: 100vh;
      margin-bottom: 65vh;
  }

  .contact-item{
      margin-bottom: 5%;
  }
}


@media (min-width: 1200px){
  #contact{
      padding-top: 0;
      margin-bottom: 50vh;
  }
}