
#home {
  background: url("../images/Homepage_photo3.jpg") center no-repeat;
  background-size: cover;
  background-position-x: 57.5%;
  position: relative;
  color: black;
  max-height: 1200px;
  border-bottom: none;
  /* z-index: -1; */
}

#home .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: none;
  background-image: none;
  position: fixed;
  height: 100%;
  padding-top: 0;
}

#home header {
  margin-bottom: 1rem;
}

header h1{
  color: #F037A5;
}

header .hi {
  font-size: 5rem;
}

.hi h1 {
  font-size: 2.5rem;
}

.small-circle{
  background: #00BCD4;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  mix-blend-mode: multiply;
  margin-left: 40px;
}

.big-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F037A5;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  letter-spacing: 2px;
  margin-top: -15px;
}

.big-circle h1{
  color: white;
}

.description{
  color: black;
  width: 55%;
  max-width: 500px;
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

#home a {
  color: black;
}

/***** mobile *****/

@media (min-width: 350px) {
  .description {
    font-size: 1rem;
    line-height: 2rem;
  }
}

/****** tablet ******/

@media (min-width: 744px){

  #home {
    background-position-x: 50%;
  }

  #home header {
    margin-bottom: 1.5rem;
  }

  .hi h1 {
    font-size: 6rem;
  }

  .small-circle {
    height: 5.5rem;
    width: 5.5rem;
    margin-left: 85px;
  }

  .big-circle {
    height: 9rem;
    width: 9rem;
    margin-top: -30px;
  }

  .description {
    font-size: 1.25rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

/****** desktop ******/

@media (min-width: 1200px){
  #home header{
    margin-top: 5%;
    margin-bottom: 2rem;
  } 

  #home .content {
    position: fixed;
    width: 100vw;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
