
/* -------------- View my projects link ------------ */

.view-link1, .view-link2, .back-link, .back-to-top {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  width: fit-content;
  padding: 25px;
}

.back-to-top {
  padding: 0;
}

.view-link1:hover, .view-link2:hover, .back-link:hover, .back-to-top:hover{
  cursor: pointer;
}

.view-link1 p, .view-link2 p, .back-link p {
  margin-right: 3rem;
  transition: all 300ms;
}

.view-link1:hover p {
  color: #00BCD4;
  font-style: italic;
}

.view-link1 .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: rotate 500ms;
}

.view-link1:hover .icon {
  rotate: 90deg;
}

.view-link1 .outer-cicle {
  position: absolute;
  height: 95px;
  width: 95px;
  border-radius: 500px;
  border: 5px solid #00BCD4;
}

.view-link1:hover .outer-cicle {
  border: none;
}

.view-link1 .inner-circle {
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: rgba(0, 188, 212, 0);
  border-radius: 500px;
  transition: width 300ms, height 300ms;
}

.view-link1:hover .inner-circle {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 188, 212, 0.5);
  border-radius: 500px;
  mix-blend-mode: multiply;
}

.view-link1:hover path {
  fill: black;
}

/* -------------- View all link ------------ */

.view-link2 {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  color: #BBBBBB;
  background-color: #222222;
}


.view-link2:hover p {
  color: white;
  font-style: italic;
}

.view-link2 .icon2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: rotate 500ms;
}

.view-link2:hover .icon2 {
  rotate: 90deg;
}

.view-link2 .outer-cicle2 {
  position: absolute;
  height: 95px;
  width: 95px;
  border-radius: 500px;
  border: 5px solid #BBBBBB;
}

.view-link2:hover .outer-cicle2 {
  border: none;
}

.view-link2 .inner-circle2 {
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: rgba(0, 188, 212, 0);
  border-radius: 500px;
  transition: width 300ms, height 300ms;
}

.view-link2:hover .inner-circle2 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  mix-blend-mode: multiply;
}

.view-link2 path {
  fill: #BBBBBB;
}

.view-link2:hover path {
  fill: black;
}

/* -------------- go back link ------------ */

.back-link {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  color: #BBBBBB;
  background-color: #222222;
}


.back-link:hover p {
  color: white;
  font-style: italic;
}

.back-link .icon2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: rotate 500ms;
  transform: rotate(180deg);
}

.back-link:hover .icon2 {
  rotate: -90deg;
}

.back-link .outer-cicle2 {
  position: absolute;
  height: 95px;
  width: 95px;
  border-radius: 500px;
  border: 5px solid #BBBBBB;
}

.back-link:hover .outer-cicle2 {
  border: none;
}

.back-link .inner-circle2 {
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: rgba(0, 188, 212, 0);
  border-radius: 500px;
  transition: width 300ms, height 300ms;
}

.back-link:hover .inner-circle2 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  mix-blend-mode: multiply;
}

.back-link path {
  fill: #BBBBBB;
}

.back-link:hover path {
  fill: black;
}

/* -------------- back to top link ------------ */

.back-to-top {
  position: fixed;
  right: -1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #222222;
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50px 0 0 50px;
  color: white;
  transition: width ease 250ms;
}

.back-to-top:hover {
  width: 100px;
}

.back-to-top svg {
  position: absolute;
  margin-left: 8px;
}

.back-to-top p {
  position: absolute;
  right: 8px;
  opacity: 0;
  transition: opacity 500ms;
  font-style: italic;
}

.back-to-top:hover p {
 opacity: 1;
}


</style>

<div class="view-link1">

<p>view my projects</p>

<div class="icon">
 
  <svg class="arrow" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M27 0L22.2413 4.75875L41.0737 23.625H0V30.375H41.0737L22.2413 49.2412L27 54L54 27L27 0Z" fill="#00BCD4"/>
  </svg>

   <div class="outer-cicle"></div>

  <div class="inner-circle"></div>

</div>
 
</div>