@import url("https://use.typekit.net/zbq4ktc.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#home {
  background-color: royalblue;
}

#about {
  background-color: orange;
}

#contact {
  background-color: crimson;
}

/* ------------- navbar -------------*/

nav {
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: black;
  color: white;
  font-size: 0.75rem;
  padding: 0 1.5rem;
  font-family: century-gothic, sans-serif;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background-color: blue;
}

.nav-container ul {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: teal;
}

/* .nav-container  .tablet {
  background-color: yellow;
  color: black;
  display: none;
} */

.nav-container .nav-links {
  background-color: blue;
  max-width: 26rem;
}

.nav-logo {
  font-size: 1rem;
  font-weight: 700;
  background-color: #F037A5;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
}