@import url("https://use.typekit.net/zbq4ktc.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#home {
  background-color: royalblue;
}

#about {
  background-color: orange;
}

#contact {
  background-color: crimson;
}

/* ------------- navbar -------------*/

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: black;
  color: white;
  font-size: 0.75rem;
  padding: 0 1.5rem;
  font-family: century-gothic, sans-serif;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.nav-container ul {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nav-container .tablet {
  display: none;
}

.nav-container .nav-links {
  max-width: 26rem;
}

.nav-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: rgba(240, 55, 165, 0.5);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  transition: background-color 300ms;
  overflow: hidden;
}

.nav-logo:hover {
  background-color: rgba(240, 55, 165, 1);
  font-style: italic;
}

.nav-logo.active {
  background-color: rgba(240, 55, 165, 1);
  font-style: italic;
}

.nav-logo a {
  z-index: 1;
}

.nav-logo.active::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 55, 165, 1);
  border-radius: 100px;
  z-index: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms, background-color 300ms;
}

.nav-logo:a::before {
  content: " ";
  position: absolute;
  transform-origin: left;
  transform: scaleX(1);
}

.nav-logo:hover {
  font-style: italic;
}

.link {
  position: relative;
  border-radius: 100px;
  padding: 0 0.5rem;
  overflow: hidden;
  transition: all 300ms;
}

.link:hover {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.1);
  transform: skew(-7.5deg, 0);
}

.link.active {
  transform-origin: left;
  transform: scaleX(1);
  background-color: rgba(255, 255, 255, 0.2);
  font-style: italic;
  font-weight: 700;
  transition: background-color 1s, color 500ms;
}

.link.active::before {
  transform-origin: left;
  transform: scaleX(1);
}

.link::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: -1;
  border-radius: 100px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms, background-color 1s;
}

/****** tablet ******/

@media (min-width: 760px) {
  
  .mobile {
    display: none;
  }

  .nav-container .tablet {
    display: flex;
  }

  nav {
    height: 4.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .nav-logo {
    font-size: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
  }

  .link a {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .link {
    padding: 0rem 1rem;
  }
}
