
 @import url("https://use.typekit.net/zbq4ktc.css");

 /* font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;*/

    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

    /*
    font-family: 'Mulish', sans-serif;
    font-weight: 400;

    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 html {
  scroll-behavior: smooth;
}

 body{
   font-family: 'Mulish', sans-serif;
   font-weight: 400;
   overflow-x: hidden;
   color: white;
   width: 100vw;
   background: #222222;
 }
 
 section{
   margin: 0 auto;
   width: 100%;
   color: white;
 }

 .content {
   padding: 0 1.5rem;
 }

 ul {
  list-style: none;
 }

 a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

 header {
   color: white;
   font-size: 2rem;
   font-family: century-gothic, sans-serif;
   font-weight: 700;
 }

 .description {
   width: 100%;
   font-size: 0.85rem;
   line-height: 1.75rem;
 }