
 @import url("https://use.typekit.net/zbq4ktc.css");

 /* font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;*/

    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

    /*
    font-family: 'Mulish', sans-serif;
    font-weight: 400;

    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  width: 100vw;
  height: 3rem;
  background-color: black;
  color: white;
 }

a {
   text-decoration: none;
   color: white;
   font-weight: 400;
   margin-left: 1.5rem;
   margin-right: 1.5rem;
 } 

 .nav-link {
   background-color: red;
   display: flex;
   justify-content: flex-end;
 }

 .nav-logo {
   font-weight: 700;
   background-color: rgba(240, 55, 165, 0.5);
   font-size: 1rem;
   height: 1.5rem;
   width: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100px;
 }


.tablet {
   background-color: blue;
   display: none;
 }

 /* tablet */

 @media (min-width: 760px){
   
   nav {
      background-color: grey;
   }


   .mobile {
      visibility: hidden;
   }

   .tablet {
      display: flex;
   }
 }
