
 @import url("https://use.typekit.net/zbq4ktc.css");

 /* font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;*/

    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

    /*
    font-family: 'Mulish', sans-serif;
    font-weight: 400;

    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

nav {
   background-color: black;
   font-family: century-gothic, sans-serif;
   width: 100vw;
   height: 3rem;
   position: fixed;
   display: flex;
   align-items: center;
   padding: 00.75rem 1.5rem;
   
}

.nav-container {
   display: flex;
   width: 100%;
}

.nav-logo {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   font-weight: 700;
   word-spacing: 1px;
   background-color: rgba(240, 55, 165, 0.5);
   height: 1.5rem;
   width: 1.5rem;
   border-radius: 100px;
   transition: background-color 300ms;
}

.nav-logo:hover {
   background-color: rgba(240, 55, 165, 1);
   transition: background-color 300ms;
}

.nav-link {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

a {
   color: white;
   font-size: 0.75rem;
   line-height: 1.5rem;
   text-decoration: none;
}

.line {
   position: relative;
   background-color: black;
   border-radius: 100px;
   padding: 0 0.5rem;
}

.line::after {
   content: " ";
   position: absolute;
   left: 0;
   width: 25%;
   height: 100%;
   /* border-radius: 100px; */
   transition: all 500ms;
}

.line:hover::after {
   content: " ";
   position: absolute;
   width: 100%;
   background-color: white;
   mix-blend-mode: difference;
   border-radius: 100px;
   font-weight: 700;
}

.nav-link a:hover {
   font-weight: 700;
   font-style: italic;
}

.tablet {
   display: none;
}
